<div class="component standings-table" role="table">
    <div class="scroller">
        <div class="table-row table-row--heading" role="row">
            <div class="table-cell table-cell--sticky" aria-label="Division" role="columnheader">
                {{data.division}}
            </div>
            <div class="table-cell" aria-label="Played" role="columnheader">P</div>
            <div class="table-cell" aria-label="Wins" role="columnheader">W</div>
            <div class="table-cell" aria-label="Losses" role="columnheader">L</div>
            <div class="table-cell" aria-label="Ties" role="columnheader">T</div>
            <div class="table-cell table-cell-strong" aria-label="Win Percentage" role="columnheader">PCT</div>
            <div class="table-cell" aria-label="Points For" role="columnheader">PF</div>
            <div class="table-cell" aria-label="Points Against" role="columnheader">PA</div>
            <div class="table-cell" aria-label="Points Difference" role="columnheader">PD</div>
        </div>
        {{#each data.teams}}
        <div class="table-row" role="row">
            <div class="table-cell table-cell--sticky" role="rowheader">
                <div class="team">
                    {{> @team-badge teamBadge=team.officialLogoImageSrc}}
                    {{> @team-name city=team.city name=team.name abbreviation=team.abbreviation}}
                </div>
            </div>
            <div class="table-cell" role="cell">{{stats.gamesPlayed}}</div>
            <div class="table-cell" role="cell">{{stats.standings.wins}}</div>
            <div class="table-cell" role="cell">{{stats.standings.losses}}</div>
            <div class="table-cell" role="cell">{{stats.standings.ties}}</div>
            <div class="table-cell table-cell-strong" role="cell">{{stats.standings.winPct}}</div>
            <div class="table-cell" role="cell">{{stats.standings.pointsFor}}</div>
            <div class="table-cell" role="cell">{{stats.standings.pointsAgainst}}</div>
            <div class="table-cell" role="cell">{{stats.standings.pointDifferential}}</div>
        </div>
        {{/each}}
    </div>
</div>