<div class="component stats-table">
   <table id='my-table' class='sort'>
    <thead>
      <tr>
        <th title='This column is not sortable, by adding no-sort class'>Player</th>
        <th>Team</th>
        <th>RY</th>
        <th>ATT</th>
        <th>TD</th>
        <th>20+</th>
        <th>40+</th>
        <th>Lng</th>
        <th>Rush 1st</th>
        <th>Rush 1st %</th>
        <th>Rush FUM</th>
      </tr>
    </thead>
    <tbody>
        {{#each playerStatsTotals}}
            {{#if stats.rushing}}
            <tr>
                <td>{{player.firstName}} {{player.lastName}}</td>
                <td>{{team.abbreviation}}</td>
                <td>{{stats.rushing.rushYards}}</td>
                <td>{{stats.rushing.rushAttempts}}</td>
                <td>{{stats.rushing.rushTD}}</td>
                <td>{{stats.rushing.rush20Plus}}</td>
                <td>{{stats.rushing.rush40Plus}}</td>
                <td>{{stats.rushing.rushLng}}</td>
                <td>{{stats.rushing.rush1stDowns}}</td>
                <td>{{stats.rushing.rush1stDownsPct}}</td>
                <td>{{stats.rushing.rushFumbles}}</td>
            </tr>
            {{/if}}
        {{/each}}
      {{!-- <tr>
        <td>2</td>
        <td>Ernie</td>
        <td>10/11/69</td>
        <td>Fish</td>
        <td>$12.09</td>
        <td>11.0.1</td>
        <td>134.56 GB</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Bert</td>
        <td>10/11/1969</td>
        <td>Broccoli</td>
        <td>$0.79</td>
        <td>18.0.1284.49</td>
        <td>134 B</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Cookie Monster</td>
        <td>1/09/1966</td>
        <td>Oreo cookies</td>
        <td>$2.78</td>
        <td>3.0.0</td>
        <td>4.13 TiB</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Kermit</td>
        <td>12-05-1955</td>
        <td>Granola</td>
        <td>$4.73</td>
        <td>3.0.9</td>
        <td>12 YB</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Sam the Eagle</td>
        <td>04/07/75</td>
        <td>Corn dog</td>
        <td>$5.50</td>
        <td>3.1.2</td>
        <td>19.4 K</td>
      </tr> --}}
    </tbody>
  </table>
</div>