<div class="component player-image">
    {{#if imageSrc}}
        <img src="{{imageSrc}}" alt="{{firstname}} {{lastname}}" />
    {{else}}
        <img src="/assets/images/person-sil.png" alt="{{firstname}} {{lastname}}" />
    {{/if}}
</div>